{% extends 'products/layouts/base.html'%}
{% load static %}

{% block link %}<link rel="stylesheet" href="{% static 'css/new.css'%}">{% endblock %}

{% block content %}

    {% if request.user == contact.user %}
    <form class="lista" method="POST">
        {% csrf_token %}


            <label class="p1" for="nombre">Nombre:</label>
            <input class="inpbox" name="first_name_contact" id="nombre" required type="text" value="{{contact.first_name_contact}}">

            <label class="p1" for="apellidos">Apellidos:</label>
            <input class="inpbox" name="last_name_contact" id="apellidos" required type="text" value="{{contact.last_name_contact}}">

            <label class="p1" for="correo">Email:</label>
            <input class="inpbox" name="contact_email" id="correo" required type="email" value="{{contact.contact_email}}">

            <label class="p1" for="celular">Celular:</label>
            <input class="inpbox" name="phone" id="celular" required type="text" value="{{contact.phone}}">

            <label class="p3"  >Todos los campos son requeridos...</label>
            <input id="elpepe"  type="submit" value="Actualizar">

    </form>
    {% endif%}




{% endblock%}